.pe-hours label, .pe-minutes label, .pe-seconds label {
    /* float: left; */
    width: auto;
    display: inline-block !important;
    text-align: left;
    min-width: 0px;
    padding-right:10px;
    color: #8c8c8c !important;
}
.pe-hours span, .pe-minutes span, .pe-seconds span {
    display: inline-block;
}
.pe-hours, .pe-minutes, .pe-seconds {
    float: left;
    
}
.pe-hours span input, .pe-minutes span input, .pe-seconds span input {
    margin: 0px;
    padding-right: 0.1ex !important;
    height: 27px;
}
.pe-minutes,.pe-seconds{
margin-left:20px;
}
.pe-metadata-mvm .pe-input--horizontal:first-child ul{
 margin:0px;
}
.pe-updatemetadata .pe-input .ReactTags{
margin:10px 0px;
}
.hostingApp{
margin: 20px;
border: 1px solid #d0d0d0;
overflow: hidden;
padding: 20px;
}
#questionComp{
    margin-top:1em;
}
.patterns-hidden{
    display:none;
}

#assesmentComp{
margin-top:20px;
}
#react-autowhatever-1{
  list-style: none;
    padding: 0px;
    margin: 0px;
    border: 1px solid #d0d0d0;
    /* margin-top: -10px; */
    width: 70%;
    margin: 0px auto;
    /* position: absolute; */
    /* z-index: 1; */
    background: #fff;
    /*border-top-width: 0px;  */
}

#react-autowhatever-1 li {
    padding:5px;
}

.pe-metadata-mvm #ReactTags-listbox{
    position: relative;
    z-index: 10;
}
.pe-updatemetadata .pe-input textarea{
    height: 90px;
    line-height:normal;
    padding:8px 0px 0px 5px;
    font-size:14px;
    display:block;
    margin:0px;
    
}
.scroll > div {
    overflow-x: hidden !important;
    overflow-y:scroll !important;
}
.pe-updatemetadata .ReactTags__tag {
    display: inline-block;
    background: #EFEFEF;
    border-radius: 5px;
    padding: 5px;
    color: #525252;
    font-size: 14px;
    margin: 5px;
    text-indent: 0px;
    font-family: sans-serif;

}
.pe-updatemetadata .ReactTags__tag:after {
    content: '\00d7';
    color: #525252;
    margin-left: 10px;
    background: transparent;
    position: relative;
    overflow: hidden;
   font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    vertical-align: middle;
}
.pe-updatemetadata .pe-input {
     margin: 0px 0px 25px 0px;
 
}
/*.pe-input input, .pe-input autosuggest:invalid input {
   border: solid 1px #d0021b;
    box-shadow: 0px 0px 4px #d0021b;
}*/

 .pe-input input:invalid, .pe-input.pe-input--error input, .pe-input autosuggest:invalid, .pe-input.pe-autosuggest--error autosuggest {
    border: solid 1px #d0021b;
    box-shadow: 0px 0px 4px #d0021b; }

.pe-updatemetadata .pe-input .react-autosuggest__container{
    margin-top:0px;
    padding-bottom: 25px;
}

.pe-metadata-mvm .react-autosuggest__container .react-autosuggest__input {
    min-width: 100%;
    margin-left: 0px;
    display: inline-block;
    width: 600px;
    border-radius: 3px;
   /* margin-bottom: 25px;*/
    margin-top: auto;
    padding: 0 6px;
}
.pe-metadata-mvm .ReactTags__tagInput input:focus {
    outline: none;
    border: 0px solid !important;
}

.pe-metadata-mvm select{ 
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
    background: url("../images/dropdown_arrow.png");
    background-repeat:no-repeat;
    background-position: 99% center;
    display: inline-block;
    min-height:27px;
    border: solid 1px #d0d0d0;
    border-radius: 3px;
    font-size:14px;
} 

.pe-metadata-mvm input[placeholder] {
    font-size: 14px;
}
.pe-metadata-mvm .pe-input input{
  height: 27px;
}

.pe-metadata-mvm .pe-input input:disabled, .pe-input.pe-input--disabled input {
background:#EFEFEF;
width: 600px;
}

.pe-metadata-mvm option {
    font-style: normal;
    color: #3B3A3A;
    height: 27px;
}

.react-autosuggest__container .react-autosuggest__input {
    /* min-width: 100%; */
    margin-left: 0px;
    display: inline-block;
    width: 600px;
}
.pe-metadata-mvm .pe-input .pe-label--bold {
    display: block;
}
.pe-minutes{
    float: left;
    width:19%;
}
.pe-seconds{
 width:20%;
}
.pe-hours{
  width: 17%;
  float: left;
    
}
.pe-metadata-mvm .pe-input--horizontal label {
    display: block;
    min-width:0px;
    text-align:left;
}
.pe-updatemetadata section, .pe-assetmetadata section, .pe-singleupload--wrapper section {
    /* width: calc(100% - 650px); */
    margin-bottom: 35px;
    width: 600px;
}
.pe-updatemetadata .pe-input {
    margin: 0px 0px 25px 0px;
    clear:both;
}
.pe-metadata-mvm .pe-input--horizontal {
    display: block;
}
.pe-metadata-mvm .pe-input label{
        line-height: 0.875rem;
}
@-moz-document url-prefix() {
    .pe-hours label, .pe-minutes label, .pe-seconds label{
        padding-bottom: 12px;
        vertical-align: middle;
    }
    .pe-metadata-mvm select {
        padding: 0px 1px !important;
        border: 1px solid rgb(169, 169, 169);
        border-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .pe-hours label, .pe-minutes label, .pe-seconds label{
        padding-bottom: 12px;
    }
    .pe-metadata-mvm select{
        border: 1px solid #d0d0d0;
    }
    .pe-metadata-mvm select::-ms-expand {
        display: none;
    }
}

.pe-updatemetadata .pe-input .ReactTags {
      margin: 0px;
      /*height: 27px;*/
      padding: 0px;
      border-radius: 3px;
}

.ReactTags__selected {
      display: inline-block;
      vertical-align: top;
}
.pe-updatemetadata .ReactTags__tag{
      display: inline-block;
      background: #EFEFEF;
      border-radius: 3px;
      padding:2px;
      color: #000;
      font-size: 14px;
      margin: 3px 5px;
      text-indent: 0px;
      vertical-align: top;
      border:none;
 }
.ReactTags__tagInput input {
      max-width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      outline: none;
      font-size: inherit;
      line-height: inherit;
      vertical-align: top;
      height: 24px;
}

.pe-updatemetadata .pe-input {
      margin: 0px 0px 25px 0px;
}
.react-numeric-input b{
border:none !important;
background:none !important;
box-shadow:none !important;
}

.react-numeric-input b:nth-child(2) i{
  border-width: 0px 0.8ex 0.8ex!important;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) !important;
}
.react-numeric-input b:nth-child(3) i{
  border-width: 0.8ex 0.8ex 0px !important;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent !important;
} 
.pe-metadata-mvm select{
  padding:0px 6px;
}
.pe-metadata-mvm input:focus,
.pe-metadata-mvm textarea:focus,
.pe-metadata-mvm select:focus{
border-color:#6AB8EF;
}

.pe-metadata-mvm input:disabled::-webkit-input-placeholder { /* WebKit browsers */
    color:#000;
    font-style: normal;
}
.pe-metadata-mvm input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#000;
   font-style: normal;
}
.pe-metadata-mvm input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#000;
    font-style: normal;
}
.pe-metadata-mvm input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#000;
   font-style: normal;
}

.pe-input input:disabled, .pe-input.pe-input--disabled input{

  color:#000 !important;
}