.browse-tab-results .react-tabs [role=tablist] {
    border-top: none;
    border-left: none;
    border-right: none;
    background: #fff;
}

.browse-tab-results .ReactTabs__TabPanel--selected {
    border: none;
}

.browse-tab-results .ReactTabs__TabPanel--selected {
    padding-top: 0px;
}
.ellipsis_inline {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: block;
    text-decoration: initial;
    white-space: nowrap;
}

.browse-tooltip {
    display: inline-block;
    margin-right: 10px;
}

.pe-tooltip {
    width: 230px;
}

#section label {
    display: block;
    margin-bottom: 10px;
}

.pe-slider{
width:25% !important;
float: left;
margin-top: 16px;
border-right: 1px solid #d0d0d0;
min-height:500px;
}
.pe-slider .slider{
  padding-left:20px;
}
.pe-slider .slider #section{
float:left;
margin-top:20px;
}
.slider .pe-btn.pe-btn--medium{
float: right;
background-color: #107aca;
color: #FFFFFF;
}

.pe-btn prim pe-btn--medium{
background-color: #107aca;
color: #FFFFFF;
}

.pe-slider .pe-btn.pe-btn--medium{
   background-color: #107aca;
   color: #FFFFFF;
   padding: 0px 6px;
}

.pe_filter span {
    margin-left: 15px !important;
    word-wrap: break-word;
    width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top:10px;
}
.fa-folder-open:before {
    font-size: 15px;
}
.filter-container span.pe_filter{
    margin-top:0px;
}

.alert.alert-info{
    margin:20px 20px 0px;
}

.footer-icon .pe-tooltip p {
    font-size: 12px;
    line-height: 1.42857143;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.displayOptions .displayDropDown{
    float: left;
    margin-top: 10px;
    font-size:14px;
    font-weight:bold;
}
.saveSearchLinkDiv{
 float: right;
    margin-top: 15px;
    font-size: 14px;
    color: #1B6DAB;
    width: auto;
}
.saveSearchLinkDiv .hide{
    display:none;
}
.saveSearchLinkDiv a{
   text-decoration: underline;
}

.ReactTabs__TabPanel.browseAssets  .search-tab .filter-container, 
.ReactTabs__TabPanel.uploadAssets .folderTree {
    max-height: 350px;
    overflow-y: scroll;
}

.pe-display-dropdown{
width: auto;
margin-top: 10px;
}
.sort-options{
 float:right; 
 margin-top:5px; 
 font-size:14px;
 }

.ReactTabs__TabPanel.browseAssets .results-container ul{
clear:both;
padding-top: 10px;
}
.pe-sortbox{
float:left;
width:auto;
margin-right: 18px;
}
.pe-sortbox span{
float:left;
margin-right:0px;
}
.pe-sortbox .sort-asset {
    float: left;
}
.pe-sortbox #sort {
    font-size: 14px;
    border: none;
    color: #337ab7;
    height: 21px;
    padding:0px 27px 0px 0px;
    min-height:0px!important;
    box-shadow:none;
}
.pe-sortbox #sort option {
border-color: #d0d0d0;
color: #333;
display: block;
}
.view-options{
float:left;
width:auto;
}
.view-options .dropdownWrapper{
float:left;
}
.view-options .toolBar{
padding-left:0px;
}
.view-options .dropdown-container > div.dropdown-display{
border:none;
height:auto;
}
.view-options .dropdown-container > div.dropdown-display span,
.view-options div.dropdown-container > div.dropdown-display > *{
    line-height: 14px!important;
    height: auto;
    margin-top:4px;
}
.view-options .fa-th:before {
color: #000;
font-size: 16px;
}
.pe-display-dropdown .itemPerPageSelectBox{
height:30px;
padding:0px 5px;
}

.view-options .toolBar{
    float:left;
}

.card-item1.search-result-box input[type="radio"]{
    margin-bottom:10px;
}

i.fa.fa-list:hover,
i.fa.fa-th:hover{
  color:#337ab7;
}
.results-container ul .row .col-3:nth-child(1),
.results-container ul .row .col-3:nth-child(2),
.results-container ul .row .col-3:nth-child(3),
.results-container ul .row .col-3:nth-child(4){
margin-bottom:5px;
}

.results-container ul .row .col-3:nth-child(1){
padding-left: 4%;
width: 40%;
}

.results-container ul .row .col-3:nth-child(2),
.results-container ul .row .col-3:nth-child(3),
.results-container ul .row .col-3:nth-child(4){
width: 20%;
}

.results-container ul .row1 .pe-jobstatus-page {
    overflow: hidden;
    border: 1px solid #d0d0d0;
    padding: 10px;
    line-height: normal;
    display: block;
    border-width: 1px 0px 1px 0px;
}
.results-container ul span.col-md-2.radio-box {
    width:9.5%;
    margin-top: 16px;
}
.pe-jobstatus-page.row:after{
 display:none;
}
.pe-jobstatus-page .col-md-3 span,
.pe-jobstatus-page .col-md-3{
    vertical-align: middle;
    display: inline-block;
    float: none;
}
.results-container ul span.col-md-2.resource-img {
    margin-right: 10px;
    width: 23%;
}
.results-container ul span.col-md-2.resource-img img{
    width:100%;
    height:40px;
    display:block;
}
.results-container ul .fileName{
   color: #107aca;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold; 
}
.results-container ul .card-item1 .footer-icon{
    margin-top:5px;
}
.view-options div.dropdown-container > div.dropdown-display > i{
    margin:4px 0px 0px 0px;
    padding:0px;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
}
.view-options div.dropdown-container > div.dropdown-display > span{
    padding:0px 10px;
}
.view-options div.dropdown-container > div.dropdown-list > div > div > span{
    padding:0px 5px;
}

textarea:focus, input:focus{
    outline:none;
    border:1px solid #d0d0d0;
}
.pe-jobstatus-page .pe-tooltip--wrapper {
    float: left;
    width:63%;
}
.pe-jobstatus-page .col-md-3 {
    width: 20%;
    word-wrap: break-word;
}
.pe-jobstatus-page .col-md-3.list-view {
    width: 40%;
}
#displayContainerDiv .col-md-10,
.results-container .col-md-10{
    width:75% !important;
}

#displayContainerDiv .col-md-10 .pe-assetFilters{
    padding: 0px 36px;
}
.searchLib{
    margin-left: 25px;
}
.displayDropDown .resultText{
    font-weight: bold;
    text-transform: capitalize;  
}

.browse-library .filter-container{
margin-left:12px;
}

.folderTree .pe_filter,
.browse-library .filter-container .pe_filter{
    /*color: #666;*/
    
}
.browseTitle{
margin-left: 30px; 
color: #000;
font-size: 14px;
}

.browseResult{
    color: #8c8c8c;
    font-size: 14px;
    text-transform: capitalize;
    font-weight:normal;
}

.ReactTabs__TabPanel.browseAssets .filter-container{
width:24.5%;
}

.ReactTabs__TabPanel.browseAssets .pe-search-results-container.browse-tab-results{
   width:74%; 
}
.ReactTabs__TabPanel.browseAssets .sort-options{
    margin-top:13px;
}
.ReactTabs__TabPanel.browseAssets .pe-assetFilters{
    padding: 0px 34px;
}
.displayOptions select#itemPerPageSelectBox {
    padding: 0px 15px 0px 5px;
    height: 27px;
    min-height: 0px;
    border-radius: 4px;
    background-size: 30% auto;
    background-position: 93% center;
}
.results-container ul .row .col-3 {
    font-size: 14px;
}
