.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.dropdown-container {
  float: left;
  display: block;
/*  margin-top: -11%;*/
 
}
div.dropdown-container.show > div.dropdown-list {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
}
div.dropdown-container > div.dropdown-display {
  float: left;
  background: white;
  height: 40px;
  cursor: pointer;
  border: solid 1px #DDD;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.dropdown-container > div.dropdown-display > * {
  float: left;
  height: 100%;
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
div.dropdown-container > div.dropdown-display > span {
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 34px;
  padding-left: 10px;
}
div.dropdown-container > div.dropdown-display > i {
  position: relative;
  width: 14px;
  margin-left: -24px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
div.dropdown-container > div.dropdown-list {
  float: left;
  position: relative;
  width: 100%;
  transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
div.dropdown-container > div.dropdown-list > div {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background: white;
}
div.dropdown-container > div.dropdown-list > div > div {
  float: left;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: solid 1px #DDD;
 }
div.dropdown-container > div.dropdown-list > div > div:hover {
  background: #F0F0F0;
}
div.dropdown-container > div.dropdown-list > div > div.selected {
  background: #2875C7;
  color: white;
}
div.dropdown-container > div.dropdown-list > div > div > * {
  /*height: 40px;*/
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}
div.dropdown-container > div.dropdown-list > div > div > span {
  float: left;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
}
div.dropdown-container > div.dropdown-list > div > div > i {
  float: left;
  width: 20px;
  margin-left: -20px;
  display: none;
}
div.dropdown-container > div.dropdown-list > div > div.selected > i {
  display: inline-block;
}
.sort-asset{
}
.toolBar{
 /* float: left;
  padding-left: 57%;*/
}
.emptyDiv{
  visibility:hidden;
}